@using Microsoft.AspNetCore.Components.Web
@using SelfServicePortal.Components.Layout
@using MudBlazor

@using Microsoft.AspNetCore.Components.Authorization

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <!-- This tag manages security routing silently -->
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p class="pa-4">You are not authorized to view this page. Redirecting...</p>
                </NotAuthorized>
                <Authorizing>
                    <p class="pa-4">Validating user session security credentials...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">The requested page asset does not exist.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
